button {
  height: 6rem;
  width: 6rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 100rem;
  text-decoration: none;
  outline: none;
  font-size: 1.25rem;
  transition: all 0.2s;
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

button:hover {
  background-color: #04aa51;
  color: black;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.505);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.909);
}
